
<div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-6">
          <h1 class="my-3">Stupid coach</h1>
          <form action="/answer" data-turbo="false">
            <div class="form-group">
              <label for="movie-name" class="form-label">Make a question</label>
              <div class="d-flex">
                <input type="text" name="question" class="form-control" placeholder="Make a question.">
                <input type="submit" value="Ask!" class="btn btn-primary ms-2">
              </div>
            </div>
          </form>
        </div>
      </div>
